<div class="app-press">
	<div class="bl-title">{{pr.data.title}}</div>
	<div class="bl-description col-lg-6 col-md-8 col-sm-10 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">{{pr.data.description}}</div>
	<div class="clearfix"></div>
	<ul class="row list-inline">
		<li ng-repeat="item in pr.data.presses">
			<div class="bl-container">
				<img ng-src="{{item.image}}">
				<div class="bl-cta">
					<div class="bl-date">{{item.date}}</div>
					<div class="bl-description">{{item.description}}</div>
				</div>
			</div>
		</li>
	</ul>
	<div class="bl-viewmore">
		<a ui-sref="main">{{pr.data.viewmore}}</a>
	</div>
</div>
