.app-press {
	background: #f0f0f0;
	.xs & {
		padding-bottom: 0;
	}
	> ul,
	.carousel {
		text-align: center;
		margin-top: 110px;
		.xs & {
			margin-top: 40px;
		}
		.carousel-indicators {
			bottom: 0;
			li {
				border: none;
				background: #464442;
				margin: 0 2px;
			}
			.active {
				background: #f78f1e;
				width: 10px;
				height: 10px;
			}
		}
		.carousel-control {
			display: none;
		}
		> li,
		.item {
			width: 414px;
			padding: 0 12px;
			.xs & {
				width: 100%;
				padding: 0;
			}
			.bl-container {
				img {
					width: 100%;
				}
				.bl-cta {
					width: 100%;
					background: white;
					padding: 30px;
					text-align: left;
					height: 220px;
					.bl-date {
						text-transform: uppercase;
						background: url(../assets/images/icon-calendar.png) top left no-repeat;
						padding-left: 30px;
					}
					.bl-description {
						height: 100px;
						overflow: hidden;
						margin-top: 26px;
					}
				}
			}
		}
	}
	> ul {
		> li {
			max-width: 30%;
		}
	}
	.bl-viewmore {
		text-align: center;
		padding: 47px 0;
		.xs & {
			padding: 20px 0;
		}
	}
}
