.app-about {
	.bl-group-1 {
		padding: 108px 0;
		background: white;
		.xs & {
			padding: 40px 15px;
		}
		.bl-description {
			padding-bottom: 20px;
			.xs & {}
		}
		.bl-cta {
			button {
				background: white;
				border: #f36802 1px solid;
				color: #f36802;
				padding: 17px 29px;
				-moz-appearance: none;
				-webkit-appearance: none;
				box-shadow: none;
				text-transform: uppercase;
				.xs & {
					padding: 10px 20px;
				}
			}
		}
	}
	.bl-group-2 {
		background: #2a2f32;
		padding-top: 92px;
		> div {
			position: relative;
		}
		.xs & {
			padding-top: 40px;
		}
		.bl-description {
			margin-bottom: 7vw;
			.xs & {
				margin-bottom: 40px;
			}
		}
		.bl-list {
			position: relative;
			img {
				width: 100%;
			}
			.bl-description {
				position: absolute;
				top: 50%;
				left: 0;
				right: 0;
				color: white;
				.xs & {
					line-height: 22px;
				}
			}
		}
	}
	.bl-group-3 {
		background: #f78f1e;
		color: white;
		padding-top: 2.9vw;
		padding-bottom: 2.9vw;
		> div {
			position: relative;
		}
		.xs & {
			padding: 40px 15px;
			text-align: center;
		}
		.cta {
			height: 20vw;
			> div {
				position: absolute;
				top: 50%;
				width: 85%;
				.xs & {
					width: 100%;
				}
			}
		}
		.bl-description {
			.xs & {
				padding-bottom: 40px;
			}
		}
		.bl-image {
			position: relative;
			.xs & {
				text-align: center;
				width: 300px;
				margin: 10px auto;
			}
			img {
				width: 20.4vw;
				margin-bottom: 0.5vw;
				.xs & {
					width: 100%;
				}
			}
		}
	}
	.bl-group-4 {
		background: white;
	}
	.line-about-1 {
		background: url(../assets/images/line-about-1.png) top left no-repeat;
		background-size: 100%;
		position: absolute;
		right: 50%;
		margin-right: -24.775vw;
		width: 49.55vw;
		height: 15vw;
		bottom: -21.5vw;
		z-index: 9;
		.md & {
			bottom: -22.5vw;
		}
		.sm & {
			bottom: -23.5vw;
		}
	}
	.line-about-2 {
		background: url(../assets/images/line-about-2.png) top left no-repeat;
		background-size: 100%;
		position: absolute;
		margin-left: -3.1vw;
		width: 20.68vw;
		height: 24vw;
		bottom: -5.57vw;
		z-index: 9;
		.xs & {
			width: 287px;
			height: 335px;
			bottom: -90px;
			left: -13px;
		}
	}
}
