.app-about {
	.bl-group-1 {
		padding: 108px 0;
		background: white;
		.xs & {
			padding: 40px 15px;
		}
		.bl-description {
			padding-bottom: 20px;
			.xs & {
			}
		}
		.bl-cta {
			button {
				background: white;
				border: #f36802 1px solid;
				color: #f36802;
				padding: 17px 29px;
				-moz-appearance: none;
				-webkit-appearance: none;
				box-shadow: none;
				text-transform: uppercase;
				.xs & {
					font-size: 18px;
					padding: 10px 20px;
				}
			}
		}
	}
	.bl-group-2 {
		background: #2a2f32;
		padding-top: 92px;
		.xs & {
			padding-top: 40px;
		}
		.bl-description {
			margin-bottom: 175px;
			.xs & {
				margin-bottom: 40px;
			}
		}
		.bl-list {
			position: relative;
			img {
				width: 100%;
			}
			.bl-description {
				position: absolute;
				top: 50%;
				left: 0;
				right: 0;
				color: white;
				transform: translateY(-50%);
				.xs & {
					font-size: 18px;
					line-height: 22px;
				}
			}
		}
	}
	.bl-group-3 {
		background: #f78f1e;
		color: white;
		padding-top: 90px;
		padding-bottom: 64px;
		.xs & {
			padding: 40px 15px;
			text-align: center;
		}
		.bl-description {
			.xs & {
				padding-bottom: 40px;
			}
		}
		.bl-image {
			.xs & {
				text-align: center;
				max-width: 300px;
				margin: 40px auto;
			}
			img {
				width: 85%;
				.xs & {
					width: 100%;
				}
			}
		}
	}
	.bl-group-4 {
		background: white;
	}
}
