<div class="app-gallery" ng-cloak>
	<div class="fs-4 fs-p">
		<div class="fade-in-up-item hd col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1"><strong>{{gl.title}}</strong></div>
		<div class="fade-in-up-item ct col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">{{gl.description}}</div>
		<div class="clearfix"></div>
	</div>
	<div class="gallery-main">
		<ul class="list-unstyled hidden-xs">
			<li class="fade-in-item" ng-repeat="item in gl.gallery" ng-class="'w-'+item.width+ ' h-'+item.height" ng-click="gl.showPhoto(item)">
				<div class="gallery-item">
					<div class="v-center">
						<img preload-src="item.thumbnail" class="preload" />
					</div>
				</div>
			</li>
		</ul>
		<div class="gallery-image hidden-xs" ng-class="{'show': gl.galleryDetail}">
			<div class="close-button animated" ng-click="gl.hidePhoto()" ng-class="{'fadeIn': gl.showImage, 'fadeOut': !gl.showImage}"></div>
			<div id="gallery-content" class="animated" ng-mousemove="gl.moving($event)" ng-class="{'fadeIn': gl.showImage, 'fadeOut': !gl.showImage}">
				<img preload-src="gl.galleryDetail" ng-style="{'margin-left': gl.image.ml, 'margin-top': gl.image.mt}" class="preload" />
			</div>
		</div>
		<uib-carousel interval="6000" class="visible-xs fade-in-up-item">
			<uib-slide ng-repeat="item in gl.gallery" active="item.active" ng-if="item.mobileImage">
				<img preload-src="item.mobileImage" class="preload" />
			</uib-slide>
		</uib-carousel>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>
</div>
