.main-press {
	.about {
		margin-top: 80px;
		margin-bottom: 200px;
		color: #3a3a3a;
		h2 {
			font-weight: 300;
		}
	}
	.contact-form {
		background: #f78f1e;
		padding-top: 80px;
		padding-bottom: 125px;
		h2 {
			color: white;
			margin-bottom: 30px;
		}
		input,
		select {
			height: 60px;
		}
		input,
		select,
		textarea {
			border: none;
			border-radius: 0;
			margin-bottom: 20px;
			padding-left: 30px;
			padding-right: 30px;
			-moz-appearance: none;
			-webkit-appearance: none;
			&.name {
				padding-left: 60px;
				background: url(/assets/icon-user.png) 22px 20px no-repeat white;
			}
		}
		button {
			border: white 1px solid;
			border-radius: 0;
			background: transparent;
			padding: 0 22px;
			height: 60px;
			color: white;
		}
	}
}
