<div class="page-press" ng-cloak>
	<div app-press></div>
	<div class="main-press">
		<div class="press-top-line-1 fade-in-up-item"></div>
		<div class="press-top-line-2 fade-in-up-item"></div>
		<div class="press-top-line-3 fade-in-up-item"></div>
		<div class="press-bottom-line fade-in-up-item"></div>
		<div class="more-press fs-1">
			<div class="hd text-center fade-in-up-item">
				{{data.more}}
			</div>
			<div class="list" ng-repeat="item in data.list">
				<div class="left-area">
					<div class="date ct fade-in-up-item">{{item.date}}</div>
					<div class="image fullwidth-image fade-in-up-item">
						<a href="javascript:;" target="_blank" ng-click="openLink(item.url)">
							<img ng-src="{{item.image}}" ng-cloak/>
						</a>
					</div>
				</div>
				<div class="right-area">
					<a href="javascript:;" ng-click="openLink(item.url)">
						<strong class="ct fade-in-up-item">{{item.title}}</strong>
					</a>
					<p class="ct fade-in-up-item">{{item.content}}</p>
					<em>
						<a href="javascript:;" class="ct fade-in-up-item" ng-click="openLink(item.pdf)">Download article</a>
					</em>
				</div>
			</div>
		</div>
	</div>
</div>
