$menu-color: #353535;
.app-header {
	background: #f8f8f8;
	height: 110px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	transition: height .2s ease-in;
	z-index: 99;
	transition: margin-left .3s ease-out, margin-right .3s ease-out;
	-moz-transition: margin-left .3s ease-out, margin-right .3s ease-out;
	-webkit-transition: margin-left .3s ease-out, margin-right .3s ease-out;
	.xs & {
		height: 65px;
	}
	.bl-logo {
		float: left;
		margin: 24px 0 0 40px;
		transition: margin-top .2s ease-in;
		&:focus,
		&:active {
			outline: none;
		}
		.xs & {
			margin: 15px 0 0 20px;
			width: 90px;
		}
		img {
			width: 100%;
			transition: width .2s ease-in, height .2s ease-in, opacity .8s ease-in;
		}
	}
	.bl-menu,
	.bl-menu-xs {
		float: right;
		list-style-type: none;
		text-align: right;
		margin: 45px 45px 0 0;
		transition: margin-top .2s ease-in;
		.sm & {
			margin-right: 12px;
		}
		.xs & {
			margin: 22px 20px 0 0;
		}
		.active {
			color: #f78f1e;
		}
		li {
			display: inline-block;
			padding: 0 15px;
			position: relative;
			&:before {
				content: '';
				border-left: $menu-color 1px solid;
				height: 10px;
				position: absolute;
				top: 8px;
				left: 0;
			}
			&:first-child:before {
				border-left: none;
			}
			a {
				display: block;
				color: $menu-color;
				&:hover {
					color: rgba(247, 143, 30, 1);
					text-decoration: none;
				}
			}
		}
	}
	.bl-menu-xs {
		a {
			margin-left: 10px;
		}
	}
	&.header-collapsed,
	&.header-collapsed.xs {
		height: 51px;
		.bl-logo {
			margin-top: 10px;
			img {
				width: 83px;
			}
		}
		.bl-menu {
			margin-top: 15px;
		}
		.bl-menu-xs {
			margin-top: 15px;
		}
		.menu-xs {
			top: 51px;
		}
	}
	.menu-xs {
		position: fixed;
		top: 65px;
		background: #f1f1f1;
		color: #2d2d2d;
		max-height: 0;
		overflow: hidden;
		transition: max-height .3s ease-out;
		-moz-transition: max-height .3s ease-out;
		-webkit-transition: max-height .3s ease-out;
		width: 100%;
		.show-menu & {
			max-height: 800px;
		}
	}
	.bl-menu-right-xs {
		margin-bottom: 0;
		text-align: center;
		li {
			a {
				display: block;
				width: 100%;
				padding: 16px 20px;
				border-bottom: #d6d6d6 1px solid;
				color: #2d2d2d;
				font-size: 16px;
			}
		}
	}
}
