.app-slide {
	#slides_control {
		position: absolute;
		left: 50%;
		top: 0;
		margin-left: -50%;
		> div {
			height: 200px;
		}
	}
	img {
		margin: auto;
		width: 100%;
	}
	.carousel-indicators {
		li {
			border: none;
			background: white;
			margin: 0 2px;
		}
		.active {
			background: #f78f1e;
			width: 10px;
			height: 10px;
		}
	}
}
