<div class="app-slide animated fadeIn">
	<uib-carousel interval="6000">
		<uib-slide ng-repeat="slide in sl.slides" active="slide.active">
			<img ng-src="{{slide.image}}" ng-cloak/>
			<div ng-repeat="(index, item) in slide.items" class="bl-item fullwidth-image" ng-style="{'top': item.top, 'left': item.left, 'bottom': item.bottom, 'right': item.right, 'width': item.width, 'z-index': index}" ng-class="item.class">
				<img ng-src="{{item.image}}" ng-cloak ng-if="item.type=='image'"/>
				<!-- <video autoplay loop ng-if="item.type=='video'" id="{{item.videoid}}" muted="muted">
					<source src="./assets/videos/video-1.mp4" type="video/mp4">
				</video> -->
			</div>
			<div class="cta fs-1">
				<div class="v-center">
					<div class="fade-in-down-item text-left">
						<div class="hd text" ng-bind-html="slide.title"></div>
						<div class="clearfix"></div>
					</div>
					<div class="fade-in-up-item text-left">
						<div class="ct text" ng-bind-html="slide.description"></div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</uib-slide>
	</uib-carousel>
</div>
