<div class="app-contact">
	<div class="fullwidth-image fade-in-item">
		<img src="assets/contact-banner.png">
	</div>
	<div class="about">
		<div class="contact-line"></div>
		<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 text-center fs-4">
			<div class="fade-in-up-item hd">Want your device to be a part of the Media Internet Of Things?</div>
			<div class="fade-in-up-item ct">Blackfire-enabled devices allow consumers to stream any media between any devices, through multiple channels, and even in different rooms.</div>
			<div class="fade-in-up-item ct"> Now that we found a way to seamlessly sync media over WiFi, devices fall into two categories: pre-Blackfire and Blackfire-enabled.</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>
	<div class="contact-form">
		<form ng-submit="contact()">
			<div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 text-center fs-3">
				<div class="fade-in-up-item hd">Contact us today to join the Media IOT.</div>
				<div class="row">
					<div class="col-md-4">
						<input type="text" class="form-control name fade-in-up-item" placeholder="Name" ng-model="name">
					</div>
					<div class="col-md-4">
						<input type="email" class="form-control fade-in-up-item" placeholder="E-mail" ng-model="email">
					</div>
					<div class="col-md-4">
						<select class="form-control fade-in-up-item" ng-model="subject">
							<option disabled="disabled">Subject</option>
						</select>
					</div>
					<div class="col-md-12">
						<textarea class="form-control fade-in-up-item" rows="6" placeholder="Message"></textarea>
					</div>
					<div class="col-md-12 text-left">
						<button type="submit" class="btn fade-in-up-item">SEND</button>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</form>
	</div>
</div>
