.app-contact {
	.bl-banner {
		position: relative;
		max-width: 100vw;
		height: 42.2vw;
		overflow: hidden;
		text-align: center;
		img {
			height: 62.2vw;
		}
	}
	.about {
		margin-top: 80px;
		margin-bottom: 200px;
		position: relative;
		.xs & {
			margin-top: 40px;
			margin-bottom: 40px;
		}
		.contact-line {
			background: url(../assets/images/contact-line.png) top left no-repeat;
			width: 437px;
			height: 312px;
			right: 50%;
			bottom: -348px;
			margin-right: -5px;
			position: absolute;
			.xs & {
				display: none;
			}
		}
	}
	.contact-form {
		background: #f78f1e;
		padding-top: 120px;
		padding-bottom: 125px;
		.xs & {
			padding-top: 40px;
			padding-bottom: 40px;
		}
		input,
		select {
			height: 60px;
		}
		input,
		select,
		textarea {
			border: none;
			border-radius: 0;
			margin-bottom: 20px;
			padding-left: 30px;
			padding-right: 30px;
			-moz-appearance: none;
			-webkit-appearance: none;
			&.name {
				padding-left: 60px;
				background: url(../assets/images/icon-user.png) 22px 20px no-repeat white;
			}
		}
		button {
			border: white 1px solid;
			border-radius: 0;
			background: transparent;
			padding: 0 22px;
			height: 60px;
			color: white;
		}
		.success {
			.fs-3 {
				.ct {
					color: white;
					padding-bottom: 30px;
				}
			}
		}
	}
}
