<div class="app-contact" ng-cloak>
	<div class="bl-banner fade-in-item fullwidth-image" id="contact-banner">
		<img src="./assets/images/contact-banner.jpg" ng-cloak ng-style="{'margin-top': parallaxY+'vw'}"/>
	</div>
	<div class="about">
		<div class="contact-line"></div>
		<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 text-center fs-4">
			<div class="fade-in-up-item hd">Want your device to be a part of the Media Internet Of Things?</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>
	<div class="contact-form">
		<form ng-submit="submit()">
			<div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 text-center fs-3">
				<div class="fade-in-up-item hd">Contact us today to join the Media IOT.</div>
				<div class="row">
					<div class="col-md-4">
						<input type="text" class="form-control name fade-in-up-item" placeholder="Name" ng-model="name">
					</div>
					<div class="col-md-4">
						<input type="email" class="form-control fade-in-up-item" placeholder="E-mail" ng-model="email">
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control fade-in-up-item" placeholder="Subject" ng-model="subject">
					</div>
					<div class="col-md-12">
						<textarea class="form-control fade-in-up-item" rows="6" placeholder="Message" ng-model="message"></textarea>
					</div>
					<div class="col-md-12 text-left">
						<button type="submit" class="btn fade-in-up-item">SEND</button>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</form>
	</div>
</div>
