.app-features {
	width: 100%;
	ul {
		color: white;
		li {
			position: relative;
			float: left;
			img {
				width: 100%;
			}
			.cta {
				position: absolute;
				top: auto;
				bottom: 60px;
			}
		}
	}
}
