<div class="app-features">
	<ul class="list-unstyled">
		<li ng-repeat="item in ft.features" class="col-sm-4">
			<div class="row">
				<img ng-src="{{item.image}}" class="fade-in-item">
				<div class="cta fs-1 col-xs-12 text-center">
					<div class="fade-in-up-item">
						<span class="hd">{{item.title}}</span>
					</div>
					<div class="fade-in-up-item ct" ng-repeat="text in item.description | limitTo: 2">{{text}}</div>
				</div>
			</div>
		</li>
	</ul>
	<div class="clearfix"></div>
</div>
