@mixin showline($line, $height-sm, $height-md, $height-lg) {
	.sm &,
	.md &,
	.lg & {
		-webkit-line-clamp: $line;
		-moz-line-clamp: $line;
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
		display: -webkit-box;
		display: -moz-box;
		white-space: normal;
	}
	.sm & {
		height: $height-sm;
	}
	.md & {
		height: $height-md;
	}
	.lg & {
		height: $height-lg;
	}
}

.technology {
	.banner {
		position: relative;
		height: 42.2vw;
		overflow: hidden;
		.xs & {
			background: #d54b19;
		}
		.cta {
			position: absolute;
			top: 50%;
			width: 50%;
			padding-left: 100px;
			padding-right: 40px;
			.v-center {
				.xs & {
					transform: none;
				}
			}
			.md & {
				padding-left: 40px
			}
			.sm & {
				padding-left: 20px;
				padding-right: 20px;
				width: 80%;
			}
			.xs & {
				position: relative;
				padding: 40px 20px;
				top: auto;
				width: 100%;
				text-align: center;
			}
			.hd.text {
				float: left;
				.xs & {
					float: none;
				}
			}
			.hd.text,
			.ct {
				background: #d54b19;
				margin-bottom: 5px;
				padding: 20px;
				.sm & {
					padding: 10px;
				}
				.xs & {
					padding: 0;
				}
			}
		}
	}
	.detail {
		background-size: cover;
		img {
			position: absolute;
			right: 0;
			top: 0;
		}
		.cta {
			color: white;
			padding: 15vw 3vw 3vw;
			right: 0;
			z-index: 9;
			.xs & {
				padding-top: 40vw;
			}
			.hd.sub {
				font-weight: normal;
				font-size: 25px;
			}
			.hd,
			.hd.sub {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.ct {
				@include showline(2, 45px, 50px, 55px);
			}
		}
	}
	.blueprint {
		position: relative;
		min-height: 38.9vw;
		overflow-x: hidden;
		#action-button {
			box-shadow: 9;
			background: url(../assets/images/arrow-right.png) center no-repeat white;
			border-radius: 40px;
			bottom: 60px;
			height: 40px;
			margin-left: -20px;
			position: absolute;
			width: 40px;
			-webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.4);
			-moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.4);
			box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.4);
			z-index: 99;
			button {
				opacity: 0;
				height: 80px;
				width: 80px;
				padding: 0;
				margin: -20px;
				&:hover,
				&:active,
				&:focus {
					outline: none;
				}
			}
		}
		.blueprint-item {
			position: absolute;
		}
		.background {
			position: absolute;
			top: 0;
			bottom: 0;
			z-index: 9;
			width: 100%;
			overflow-x: hidden;
			background: url(../assets/images/technology-blueprint-bg.png);
			.xs & {
				height: 150vw;
				right: auto !important;
				position: relative;
			}
			.main-content {
				width: 100vw;
				position: absolute;
				overflow: hidden;
				top: 0;
				bottom: 0;
				.xs & {
					margin-left: auto !important;
				}
				.center-content {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					button {
						-moz-appearance: none;
						-webkit-appearance: none;
						background: white;
						border: none;
						border-radius: 50%;
						box-shadow: none;
						font-size: 21px;
						height: 28px;
						line-height: 23px;
						margin: -14px 0 0 -14px;
						position: relative;
						text-align: center;
						width: 28px;
						z-index: 1;
						&:hover {
							width: 36px;
							height: 36px;
							line-height: 30px;
							font-size: 27px;
							margin: -18px 0 0 -18px;
							+ .cta {
								opacity: 1;
							}
						}
					}
					.cta {
						opacity: 0;
						position: relative;
						transition: opacity .3s;
						-moz-transition: opacity .3s;
						-webkit-transition: opacity .3s;
						&.bl-top {
							margin-top: -35px;
							&:before {
								top: 17px;
							}
						}
						&.bl-left {
							margin-left: 15vw;
							&:before {
								left: -15vw;
							}
						}
						&.bl-right {
							margin-left: -15vw;
							transform: translateX(-100%);
							text-align: right;
							&:before {
								right: -15vw;
							}
						}
						&.bl-bottom {
							transform: translateY(-100%);
							&.bl-right {
								transform: translate3d(-100%, -100%, 0);
							}
							&:before {
								bottom: 17px;
							}
						}
						&:before {
							border-top: white 1px solid;
							content: '';
							height: 1px;
							position: absolute;
							width: 14vw;
						}
					}
				}
			}
		}
		.cover {
			background: url(../assets/images/technology-blueprint-cover-background.png) top 27.9vw left 4.1vw no-repeat #fafafa;
			overflow: hidden;
			position: relative;
			z-index: 0;
			background-size: 6.3vw;
			.xs & {
				padding-bottom: 100px;
				background: #fafafa;
			}
			> .fullwidth-image {
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
			}
			.cover-image {
				.lg &,
				.md &,
				.sm & {
					position: absolute;
					top: 50%;
					left: 50%;
					img {
						width: 9.343vw;
						margin-top: -5.12vw;
						margin-left: -4.7vw;
					}
				}
				.xs & {
					img {
						width: 120px;
						margin-top: 90px;
						margin-bottom: 40px;
					}
				}
			}
			.main-content {
				position: relative;
				.cta {
					padding: 7vw 7vw 7vw 60vw;
					.xs & {
						padding: 15px;
						text-align: center;
					}
					.hd {
						.xs & {
							font-size: 24px;
							font-weight: bold;
						}
					}
					.ct {
						border-bottom: #adadad 1px solid;
						padding-bottom: 60px;
					}
					.bl-group {
						margin-top: 100px;
						.list-title {
							font-size: 20px;
							margin: 20px 0;
						}
					}
				}
			}
		}
	}
	.technology-footer {
		background: #f78f1e;
		color: white;
	}
}
