<div class="technology">
	<div class="banner fullwidth-image">
		<img src="/assets/technology-banner.png">
		<div class="cta fs-1">
			<div class="v-center">
				<div>
					<div class="hd text">
						{{data.title}}
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="ct" ng-repeat="item in data.content">
					{{item}}
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4" ng-repeat="item in data.list">
		<div class="row fullwidth-image detail">
			<img ng-src="{{item.image}}" class="fade-in-item">
			<div class="cta fs-1">
				<div class="fade-in-up-item hd">{{item.title}}</div>
				<div class="fade-in-up-item hd sub">{{item.subtitle}}</div>
				<div class="fade-in-up-item ct">{{item.description}}</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div app-favourites></div>
	<div class="technology-footer fs-1 fs-p">
		<div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 text-center">
			<div class="fade-in-up-item hd">{{footer.title}}</div>
			<div class="fade-in-up-item ct">{{footer.description}} </div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
