@mixin showline($line, $height-sm, $height-md, $height-lg) {
	.sm &,
	.md &,
	.lg & {
		-webkit-line-clamp: $line;
		-moz-line-clamp: $line;
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
		display: -webkit-box;
		display: -moz-box;
		white-space: normal;
	}
	.sm & {
		height: $height-sm;
	}
	.md & {
		height: $height-md;
	}
	.lg & {
		height: $height-lg;
	}
}

.technology {
	.banner {
		position: relative;
		.xs & {
			background: #d54b19;
		}
		.cta {
			position: absolute;
			top: 50%;
			width: 50%;
			padding-left: 100px;
			padding-right: 40px;
			.v-center {
				.xs & {
					transform: none;
				}
			}
			.md & {
				padding-left: 40px
			}
			.sm & {
				padding-left: 20px;
				padding-right: 20px;
				width: 80%;
			}
			.xs & {
				position: relative;
				padding: 40px 20px;
				top: auto;
				width: 100%;
				text-align: center;
			}
			.hd.text {
				float: left;
				.xs & {
					float: none;
				}
			}
			.hd.text,
			.ct {
				background: #d54b19;
				margin-bottom: 5px;
				padding: 20px;
				.sm & {
					padding: 10px;
				}
				.xs & {
					padding: 0;
				}
			}
		}
	}
	.detail {
		background-size: cover;
		img {
			position: absolute;
			right: 0;
			top: 0;
		}
		.cta {
			color: white;
			padding: 15vw 3vw 3vw;
			right: 0;
			z-index: 9;
			.xs & {
				padding-top: 40vw;
			}
			.hd.sub {
				font-weight: normal;
				font-size: 25px;
			}
			.hd,
			.hd.sub {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.ct {
				@include showline(5, 110px, 120px, 135px);
			}
		}
	}
	.blueprint {
		background: url(../assets/images/technology-blueprint-bg.png);
		.blueprint-item {
			position: absolute;
		}
		.cover {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			overflow: hidden;
		}
		.background {
			.main-content {
				position: relative;
				button {
					-moz-appearance: none;
					-webkit-appearance: none;
					background: white;
					border: none;
					border-radius: 50%;
					box-shadow: none;
					font-size: 21px;
					height: 28px;
					line-height: 23px;
					margin: -14px 0 0 -14px;
					position: relative;
					text-align: center;
					width: 28px;
					z-index: 1;
					&:hover {
						width: 36px;
						height: 36px;
						line-height: 30px;
						font-size: 27px;
						margin: -18px 0 0 -18px;
						+ .cta {
							opacity: 1;
						}
					}
				}
				.cta {
					opacity: 0;
					margin-left: 15vw;
					margin-top: -35px;
					position: relative;
					transition: opacity .3s;
					-moz-transition: opacity .3s;
					-webkit-transition: opacity .3s;
					&:before {
						border-top: white 1px solid;
						content: '';
						height: 1px;
						left: -15vw;
						position: absolute;
						top: 17px;
						width: 14vw;
					}
				}
			}
		}
	}
	.technology-footer {
		background: #d4373c;
		color: white;
	}
}
