/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */

$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */

// bower:scss
// endbower
.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

body {
	transition: margin-left .3s ease-out, margin-right .3s ease-out;
	-moz-transition: margin-left .3s ease-out, margin-right .3s ease-out;
	-webkit-transition: margin-left .3s ease-out, margin-right .3s ease-out;
	font-size: 13px;
	line-height: 20px;
	font-weight: normal;
	color: #4e4e4e;
	* {
		-webkit-osx-font-smoothing: grayscale;
		-moz-osx-font-smoothing: grayscale;
		font-family: 'Helvetica';
		font-weight: 300;
	}
	&.show-menu {
		margin-left: -280px;
		margin-right: 280px;
	}
}

.content {
	background: #f8f8f8;
	padding-top: 110px;
	transition: padding-top .2s ease-in;
	&.header-collapsed {
		padding-top: 51px;
	}
}

.fullwidth-image {
	img {
		width: 100%;
	}
}

.relative {
	position: relative;
}

.vertical-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.fade-in-item,
.fade-in-left-item,
.fade-in-right-item,
.fade-in-up-item {
	opacity: 0;
	&.animated {
		opacity: 1;
	}
}

.fs-1 {
	.hd {
		font-size: 32px;
		line-height: 35px;
		font-weight: bold;
		color: white;
		margin-bottom: 14px;
		.xs & {
			font-size: 22px;
			line-height: 28px;
			margin-bottom: 7px;
		}
	}
	.ct {
		font-size: 23px;
		line-height: 27px;
		font-weight: 300;
		color: white;
		.xs & {
			font-size: 14px;
			line-height: 18px;
		}
	}
}

.fs-2 {
	font-size: 23px;
	line-height: 27px;
	font-weight: 300;
	color: #3a3a3a;
	.xs & {
		font-size: 19px;
		line-height: 22px;
	}
}

.fs-3 {
	.hd {
		font-size: 30px;
		line-height: 41px;
		font-weight: 300;
		color: white;
		margin-bottom: 14px;
		.xs & {
			font-size: 22px;
			line-height: 28px;
			margin-bottom: 7px;
		}
	}
	.ct {
		font-size: 13px;
		line-height: 20px;
		font-weight: normal;
		color: #76797c;
	}
}

.fs-4 {
	.hd {
		font-size: 30px;
		line-height: 41px;
		font-weight: 300;
		color: #3a3a3a;
		margin-bottom: 14px;
		.xs & {
			font-size: 22px;
			line-height: 28px;
			margin-bottom: 7px;
		}
	}
	.ct {
		font-size: 13px;
		line-height: 20px;
		font-weight: normal;
		color: #4e4e4e;
	}
}

.fs-p {
	padding-top: 110px;
	padding-bottom: 110px;
	.xs & {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}


/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */

// injector
// endinjector
