<form role="search" class="navbar-search">
  <div class="search-group">
    <div id="search" class="search_area" ng-class="{'open': onSearch}">
      <div class="search-container">
        <form class="search-form">
          <input id="search-input" type="search" placeholder="Search..." class="search-input" /><i class="fa fa-search"></i>
        </form>
        <div class="search-content">
          <div class="dummy-row">
            <div class="dummy-column">
              <h2>Pages</h2>
              <a href="#" class="dummy-media-object no-image">
                <h3>Sara Soueidan</h3>
                <em>on http://www.bfrx.com/audio-video.php</em>
              </a>
              <a href="#" class="dummy-media-object no-image">
                <h3>Rachel Smith</h3>
                <em>on http://www.bfrx.com/audio-video.php</em>
              </a>
            </div>
            <div class="dummy-column">
              <h2>White Papers</h2>
              <a href="#" class="dummy-media-object"><img src="/assets/icon-pdf.png" />
                <h3>Sara Soueidan</h3>
                <em>on http://www.bfrx.com/audio-video.php</em>
              </a>
              <a href="#" class="dummy-media-object"><img src="/assets/icon-pdf.png" />
                <h3>Rachel Smith</h3>
                <em>on http://www.bfrx.com/audio-video.php</em>
              </a>
              <a href="#" class="dummy-media-object"><img src="/assets/icon-pdf.png" />
                <h3>Peter Finlan</h3>
                <em>on http://www.bfrx.com/audio-video.php</em>
              </a>
              <a href="#" class="dummy-media-object"><img src="/assets/icon-pdf.png" />
                <h3>Patrick Cox</h3>
                <em>on http://www.bfrx.com/audio-video.php</em>
              </a>
              <a href="#" class="dummy-media-object"><img src="/assets/icon-pdf.png" />
                <h3>Tim Holman</h3>
                <em>on http://www.bfrx.com/audio-video.php</em>
              </a>
            </div>
            <div class="dummy-column">
              <h2>Media</h2>
              <a href="#" class="dummy-media-object"><img src="/assets/icon-video.png" />
                <h3>Sara Soueidan</h3>
                <em>on http://www.bfrx.com/audio-video.php</em>
              </a>
              <a href="#" class="dummy-media-object"><img src="/assets/icon-video.png" />
                <h3>Rachel Smith</h3>
                <em>on http://www.bfrx.com/audio-video.php</em>
              </a>
              <a href="#" class="dummy-media-object"><img src="/assets/icon-video.png" />
                <h3>Peter Finlan</h3>
                <em>on http://www.bfrx.com/audio-video.php</em>
              </a>
            </div>
          </div>
        </div>
        <!-- search-content--><span class="search-close" ng-click="toggleSearch()"></span>
      </div>
    </div>
  </div>
</form>
