@mixin showline($line, $height) {
	.sm &,
	.md &,
	.lg & {
		-webkit-line-clamp: $line;
		-moz-line-clamp: $line;
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
		display: -webkit-box;
		display: -moz-box;
		height: $height;
		white-space: normal;
	}
}

.page-solution {
	.solution-banner {
		background: url(/assets/solution-banner.png) top left no-repeat;
		background-size: 100%;
		width: 100%;
		height: 42.3vw;
		position: relative;
		.xs & {
			background: #f46b01;
		}
		.cta {
			position: absolute;
			top: 50%;
			width: 50%;
			padding-left: 110px;
			padding-right: 55px;
			.v-center {
				.xs & {
					transform: none;
				}
			}
			.sm & {
				padding-left: 30px;
				margin-top: 35px;
			}
			.md & {
				padding-left: 30px;
			}
			.xs & {
				text-align: center;
				width: 100%;
				padding: 40px 20px;
				position: relative;
				top: auto;
			}
			.ct {
				@include showline(5, 135px);
			}
		}
	}
}