<div class="app-connected fs-1" ng-cloak>
	<div class="bl-main" ng-click="cn.toggleVideo(cn.page)">
		<div ng-if="cn.page == 'home'">
			<video poster="./assets/images/videobg-1.png" id="connected-home-video" loop muted="muted">
				<source src="./assets/videos/video-1.mp4" type="video/mp4">
			</video>
		</div>
		<div ng-if="cn.page == 'solution'">
			<video poster="./assets/images/videobg-2.png" id="connected-solution-video" loop muted="muted">
				<source src="./assets/videos/video-2.mp4" type="video/mp4">
			</video>
		</div>
		<div class="bl-cta text-center" ng-if="!cn.started">
			<div class="text-center play-button"><img ng-src="{{cn.playButton}}" /></div>
			<div class="col-xs-10 col-xs-offset-1 fade-in-up-item hd">{{cn.data.cta.title}}</div>
			<div class="col-xs-10 col-xs-offset-1 fade-in-up-item ct" ng-bind-html="cn.data.cta.description[cn.page]"></div>
		</div>
	</div>
</div>
