.app-connected {
	width: 100%;
	.bl-cta {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		transform: translateY(-60px);
		.xs & {
			display: none;
		}
	}
	.bl-main {
		position: relative;
		max-height: 54vw;
		overflow: hidden;
		video {
			width: 100%;
			margin-top: -1vw;
		}
		.play-button {
			margin-bottom: 20px;
			img {
				&:hover,
				&:focus,
				&:active {
					outline: none;
				}
			}
		}
	}
}
