.app-connected {
	width: 100%;
	.bl-cta {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		.xs & {
			display: none;
		}
	}
	.bl-main {
		position: relative;
		max-height: 56vw;
		overflow: hidden;
		video {
			width: 100%;
		}
	}
}
